.align {
  text-align: center;
}

h1 {
    font-family: myFirstFont;
  }
    @font-face {
      font-family: myFirstFont;
      src: url(BebasNeue-Regular.ttf);
    }


body {
  background-color: #FFFFFF;
}
